*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

#navbar{
    width: 100%;
    position: sticky;
    top: 0;
    color: black;
    background: white;
}
a{
    font-weight: 600;
    font-size: 18px;
   
}
.nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 0 0.4px rgb(122, 124, 122);
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 10%;
}
.boder{
    height: 25vh;
    width: 60vh;
   padding: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    border:  2px solid rgb(169, 168, 168);
    background: rgb(20, 24, 25);  
}
.btn{
    width: 100px;
    height: 50px;
    margin-top: 40px;
    align-items: center;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 400;
    color: aliceblue;
    border:  2px solid rgb(169, 168, 168);
    background: rgb(42, 119, 138);  
}